/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
database.sql
/.idea
/.vscode
/resources/tigers-v-1.0
app/Providers/AppServiceProvider.php
